<!doctype html>
<html>

<head>
    {{>head}}
</head>

<body>
    {{>navbar}}

    <main>
        <div class="container">
            <br>
            <h2>Welcome to CompGeo!</h2>
        </div>
    </main>
</body>