<!doctype html>
<html>

<head>
    {{>head}}
</head>

<body>
    {{>navbar}}

    <main>
        <div class="container">
            <br>
            <h2>Welcome to CompGeo!</h2>
            <br>
            <p>Click the dropdown in the upper left that says ALGORITHMS and select one to get started!</p>
        </div>
    </main>
</body>