<link rel='stylesheet' href='/css/visualizer.css' />
<script defer type="module" src="/js/graphEditor.js"></script>
<script defer type="module" src="/js/visualizer.js"></script>

<div id="side-panel">
    <div id="graph-edit-tools">
        <div id="svg-change">
            <button class="panel-btn" title="Resize Graph to Fit Available Area" id="resizeSVG">RESIZE</button>

            <button class="panel-btn" title="Clear All Elements" id="clearAll">CLEAR</button>

            <button class="panel-btn" title="Toggle Full-Screen Mode" id="fullscreenToggle">FULL</button>

            <div class="panel-selector-wrap">
                <div class="panel-selector">
                    <input type="radio" name="graphEdit" id="addToGraph" value="addToGraph" checked>
                    <label  title="Add To Graph" class="selector-left" for="addToGraph">✎</label>
                    
                    <input type="radio" name="graphEdit" id="removeFromGraph" value="removeFromGraph">
                    <label for="removeFromGraph" title="Remove From Graph">╳</label>

                    <input type="radio" name="graphEdit" id="lockGraph" value="lockGraph">
                    <label class="selector-right" title="Lock Graph - Clicks Do Nothing" for="lockGraph">&#128274</label>
                </div>
            </div>
        </div>

        <div id="algorithmsButtons">
            {{> (lookup . 'algorithms')}}
        </div>

        <div id="media-panel">
            <button id="media-to-start" class="panel-btn media-control" title="To Start"><img src="images/media control/to-start.png"></button>
            <button id="media-previous" class="panel-btn media-control" title="Previous State"><img src="images/media control/previous.png"></button>
            <button id="media-playpause" class="panel-btn media-control" title="Play/Pause"><img src="images/media control/pause-play.png"></button>
            <button id="media-next" class="panel-btn media-control" title="Next State"><img src="images/media control/next.png"></button>
            <button id="media-to-end" class="panel-btn media-control" title="To End"><img src="images/media control/to-end.png"></button>
            <progress id="media-progress" value="-1" max="-1"></progress>
        </div>

        <div id="algorithmStatus">
            <div id="codeStatus"></div>
            <div id="pseudocode"></div>
        </div>
    </div>
</div>